<h3>Create Customer</h3>
<div [hidden]="submitted" style="width: 500px;" class="cform">
  <form (ngSubmit)="onSubmit()" #customerform="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="customer.name" 
      name="name" #name="ngModel" [class.is-invalid]="name.invalid && name.touched">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div>
 
    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" class="form-control" id="age" required [(ngModel)]="customer.age"
       name="age" #age="ngModel" [class.is-invalid]="age.invalid && age.touched" pattern="^\d{2}$">
      <div *ngIf="age.errors && (age.invalid || age.touched)">
        <small class="text-danger" *ngIf="age.errors.required">Age is required</small>      
        <small class="text-danger" *ngIf="age.errors.pattern">Age must be two digits</small>      
      </div>
    </div>
 
    <div class="form-group">
        <label>Gender</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" value="MALE" [(ngModel)]="customer.gender"
           #gender="ngModel" required > 
          <label class="form-check-label">Male</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" value="FEMALE" [(ngModel)]="customer.gender" 
          #gender="ngModel" required>
          <label class="form-check-label">Female</label>
        </div>
        <div *ngIf="gender.invalid && gender.untouched" class="text-danger"> 
          Gender is required
       </div>
      </div>
 
    <button type="submit" class="btn btn-success" [disabled]="customerform.form.invalid">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newCustomer()">Add</button>
</div>
