<h3>List of Customers</h3>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers | async">
       <td>{{customer.id}}</td>
       <td>{{customer.name}}</td>
       <td>{{customer.age}}</td>
       <td>{{customer.gender}}</td>
       <td><span class="button is-small btn-info" (click)="editCustomer(customer)">Edit</span> 
        <span class="button is-small btn-info" (click)="deleteCustomer(customer)">Delete</span></td>
    </tr>
  </tbody>
</table>
